
<div class="modal-dialog modal-md modal-dialog-centered"  role="document">
    <div class="modal-content ">
        <div class="modal-header">
            <h2 class="modal-title">Eliminación del Estudiante: <b>{{object}}</b></h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" > 
            </button>
        </div>
        <form action="{% url 'borrarestudiante' object.id%}" method="POST">
          {% csrf_token %}
          <div class="alert alert-warning" role="alert">
             Esta seguro de eliminar el registro:  <b>{{ object }}</b>?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
            <button class="btn btn-outline-warning" type="submit">Confirmar</button>
          </div>
        </form>
    </div>
</div>